<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [class.active]="aba == 'home'" (click)="aba = 'home'">Home</a>
        <a class="nav-item nav-link" [class.active]="aba == 'mapa'"  (click)="aba = 'mapa'">Mapa</a>
        <a class="nav-item nav-link" [class.active]="aba == 'lista'" (click)="aba = 'lista'">Lista</a>
      </div>
    </div>
  </nav>

  <div class="container" [ngSwitch]="aba">
    <p *ngSwitchCase="'home'"> MODO Home Ativado</p>
    <p *ngSwitchCase="'mapa'"> MODO Mapa Ativado</p>
    <p *ngSwitchCase="'lista'"> MODO Lista Ativado</p>
  </div>

  ----------------------------------------------
  <h3>Removendo o *</h3>

  <div class="container" [ngSwitch]="aba">
    <ng-template [ngSwitchCase]="'home'"> 
      <p>Home Ativado</p>
    </ng-template>
    <ng-template [ngSwitchCase]="'mapa'"> 
      <p>MODO Mapa Ativado</p>
    </ng-template>
    <ng-template [ngSwitchCase]="'lista'">
      <p>MODO Lista Ativado</p>
    </ng-template>

  </div>