<!-- <app-diretiva-ng-if></app-diretiva-ng-if> -->
<!-- <app-diretiva-ng-switch></app-diretiva-ng-switch> -->
<!-- <app-diretiva-ng-for></app-diretiva-ng-for> -->
<!-- <app-diretiva-ng-class></app-diretiva-ng-class> -->
<!-- <app-diretiva-ng-style></app-diretiva-ng-style> -->
<!-- <app-diretiva-ng-style></app-diretiva-ng-style> -->


<app-exemplo-ng-content>
    <div class="titulo">Titulo do Painel</div>
    <div class="corpo">Info corpo do Painel</div>
    <div class="corpo">Info corpo do Painel 2</div>
</app-exemplo-ng-content>