<h2>Data-Binding - Aula 9</h2>

<section class="property-binding">
  <article>
    <h3>Interpolation | Interpolation</h3>
    <p>Url com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 2- 34567 }}</p>
    <p>Sexta é de dia dela {{ getPraia() }}</p>
  </article>

  _________________________________________________
  <article>
    <h3>Property Binding</h3>
    <p>É o {{ getPropertyBinding() }}</p>
    <img src="{{ urlImagem }}"> <br>
    <img [src]="getImagem()">
  </article>
</section>

-------------------------------------------------------

<article>
  <h3>Class & Style Binding - Aula 10</h3>
  <div>
    Selecione uma Classe:
    <select #classe (change)="0">
      <option value="alert-success">Sucess</option>
      <option value="alert-info">Info</option>
      <option value="alert-warning">Warning</option>
      <option value="alert-danger">Danger</option>
    </select>
    <br>
    <br>
    <br>

    <div class="alert {{ classe.value }}" role="alert">
      Texto Colorido de acordo com a combo-box
    </div>
    <br>

    <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
     Alert Success
    </div>
    <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
      Alert Danger
    </div>
    <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
      Alert Warning
    </div>
    <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
      Alert info
    </div>

    <br>
    <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
      Esse texto só aparece em casso de erro.
    </div>
    <br>
    <br>
  </div>
</article>