<h2>Data-Binding - Aula 9</h2>

<section class="property-binding">
  <article>
    <h3>Interpolation | Interpolation</h3>
    <p>Url com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 2- 34567 }}</p>
    <p>Sexta é de dia dela {{ getPraia() }}</p>
  </article>

  _________________________________________________
  <article>

    <h3>Property Binding</h3>
    <p>É o {{ getPropertyBinding() }}</p>
    <img src="{{ urlImagem }}"> <br>
    <img [src]="getImagem()">

  </article>
</section>

-------------------------------------------------------

<article>
  <h3>Class & Style Binding - Aula 10</h3>
  <div>
    Selecione uma Classe:
    <select #classe (change)="0">
      <option value="alert-success">Sucess</option>
      <option value="alert-info">Info</option>
      <option value="alert-warning">Warning</option>
      <option value="alert-danger">Danger</option>
    </select>
    <br>
    <br>

    <div class="alert {{ classe.value }}" role="alert">
      Texto Colorido de acordo com a combo-box
    </div>
    <br>

    <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
      Alert Success
    </div>
    <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
      Alert Danger
    </div>
    <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
      Alert Warning
    </div>
    <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
      Alert info
    </div>

    <br>
    <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
      Esse texto só aparece em casso de erro.
    </div>

  </div>
</article>
-------------------------------------------------------------------------------------------------------------

<article>
  <h3>Aula 11 - Event binding </h3>
  <div>
    <button class="btn btn-primary" (click)="botaoClicado()">Me clica</button>
    <br>
    <br>
    <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor($event.target.value)">
    <p>
      Valor Atual: {{valorAtual}}
    </p>
    <p>
      Valor Salvo: {{valorSalvo }}
    </p>
    <br>
    <br>
    <input type="text" #campoInput (keyup.enter)="salvarValor2(campoInput.value)">
    <!-- #campoInput é uma declaração de Variável Local, utilizando #campoInput é feita uma referência a event.target -->
    <button class="btn btn-warning" (click)="salvarValor2(campoInput.value)">clica pra salvar</button>
    <br>
    <br>
    <p>
      Valor Salvo 2: {{ valorSalvo2 }}
    </p>
    <br>
    <br>
    <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver">Passe o mouse
      sobre mim </span>
  </div>
</article>

-------------------------------------------------------------------------------------------------------------

<!-- <section class='two-way-binding'>
  <article>
    <h3>Aula #12 - Two-Way Data Binding </h3>
    <div>
      <input type="text" [value]="nome" (input)="nome = $event.target.value">
      <p>
        Você digitou o nome: {{ nome }}
      </p>
    </div>

    <div>
      <input type="text" [(ngModel)]="nome2">
       <p>
        Você digitou o nome: {{ nome2 }}
      </p>
    </div>
    <div>
      Digite a Idade da Pessoa <input type="text" [(ngModel)]="pessoa.idade"><br><br>
      Digite o Nome da Pessoa <input type="text" [(ngModel)]="pessoa.nome">
      <br>
      O Nome da Pessoa é {{pessoa.nome}} e tem {{pessoa.idade}}
    </div> 
  </article>
</section> -->

<app-meu-form></app-meu-form>